/* Resoluciones menores o iguales a 320px */
@media (max-width: 320px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin-bottom: 15px;
    }

    .navbar-op {
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
        margin-bottom: 15px;
    }

    .navbar-op a {
        font-size: 20px;
    }

    .img-hero h1 {
        display: none;
    }
    .circle-container{
        display: flex;
        flex-direction: column; /* Cambiar la dirección del flexbox a columna */
        align-items: center; /* Alinear los elementos al centro */
        margin-top: 20px; /* Agregar margen superior para separar los círculos */
    }

    .circle-wrapper {
        display: flex;
        flex-direction: column; /* Cambiar la dirección del flexbox a columna */
        align-items: center; /* Alinear los elementos al centro */
        margin-bottom: 20px; /* Agregar margen inferior para separar los círculos */
    }

    .circle{
        width: 50px;
        height: 50px;
        margin-bottom: 20px; /* Agregar margen inferior para separar los círculos */
    }

    .circle p {
        margin-top: 10px; /* Ajustar el margen superior del texto */
    }

    .section-end {
        padding: 10px; /* Agrega un relleno para separar el contenido del borde */
    }
    
    .team-members {
        display: flex; /* Utiliza flexbox para alinear los elementos */
        flex-direction: column; /* Coloca los elementos en columnas */
        gap: 30px; /* Espacio entre cada miembro del equipo */
    }
    
    .team-member {
        max-width: 100%; /* Ajusta el ancho máximo de cada miembro del equipo */
    }

    .circulos-1, .circulos-2, .circulos-3 {
        width: 20px;
        height: 20px;
    }

    .circulos-1, .circulos-2, .circulos-3 {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer div {
        width: 100%;
        padding: 10px 10px; /* Ajusta el padding para un mejor aspecto en pantallas muy pequeñas */
    }
}



/* Resoluciones entre 321px y 480px */
@media (min-width: 321px) and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
    }

    .icon-hero {
        justify-content: center;
    }

    .navbar-op {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .navbar-op a {
        font-size: 24px;
    }

    .img-hero h1 {
        display: none;
    }

    .circle-container{
        display: flex;
        flex-direction: column; /* Cambiar la dirección del flexbox a columna */
        align-items: center; /* Alinear los elementos al centro */
        margin-top: 20px; /* Agregar margen superior para separar los círculos */
    }

    .circle-wrapper {
        display: flex;
        flex-direction: column; /* Cambiar la dirección del flexbox a columna */
        align-items: center; /* Alinear los elementos al centro */
        margin-bottom: 20px; /* Agregar margen inferior para separar los círculos */
    }

    .circle{
        width: 80px;
        height: 80px;
        margin-bottom: 20px; /* Agregar margen inferior para separar los círculos */
    }

    .circle p {
        margin-top: 10px; /* Ajustar el margen superior del texto */
    }

    .section-end {
        padding: 10px; /* Agrega un relleno para separar el contenido del borde */
    }
    
    .team-members {
        display: flex; /* Utiliza flexbox para alinear los elementos */
        flex-direction: column; /* Coloca los elementos en columnas */
        gap: 30px; /* Espacio entre cada miembro del equipo */
    }
    
    .team-member {
        max-width: 100%; /* Ajusta el ancho máximo de cada miembro del equipo */
    }
    .circulos-1, .circulos-2, .circulos-3 {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer div {
        width: 100%;
        padding: 10px 20px; /* Ajusta el padding para un mejor aspecto en pantallas pequeñas */
    }
}


/* Resoluciones entre 481px y 768px */
@media (min-width: 481px) and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
    

    .navbar-op a {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .img-hero h1 {
        font-size: 20px;
    }
}

/* Resoluciones entre 769px y 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-op {
        gap: 20px;
    }

    .navbar-op a {
        font-size: 25px;
    }

    .img-hero h1 {
        font-size: 30px;
    }
}

/* Resoluciones entre 1025px y 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .navbar-op {
        gap: 30px;
    }

    .navbar-op a {
        font-size: 25px;
    }

    .img-hero h1 {
        font-size: 40px;
    }
}

/* Resoluciones entre 1281px y 1440px */
@media (min-width: 1281px) and (max-width: 1440px) {
    .navbar-op {
        gap: 40px;
    }

    .navbar-op a {
        font-size: 25px;
        gap: 30px;
    }
}

/* Resoluciones entre 1441px y 1920px */
@media (min-width: 1441px) and (max-width: 1920px) {
    .icon-hero  {
        font-size: 30px;
    }

    .navbar-op a {
        font-size: 30px;
    }

    .icons-red i {
        font-size: 30px;
    }

    .img-hero h1{
        font-size: 55px;
    }
}