body{
    background-color: white;
    font-family:"Montserrat", sans-serif ;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2; /* Asegura que el contenido del header esté por encima de la capa negra */

}

.icon-hero{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
}

.icon-hero i{
    margin-right: 10px;
}

.navbar-op{
    display: flex;
    gap: 20px;
    color: white;
    text-decoration: none;
}

.navbar-op a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navbar-op, .icon-hero {
    margin: 0;
    padding: 0;
}
.icons-red{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons-red i{
    color: white;
    font-size: 15px;
}
.courses{
    position: relative;
    display: inline-block;
}

.courses-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.courses-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.courses-content a:hover {
    background-color: #ddd;
}

.courses:hover .courses-content {
    display: block;
}

.courses:hover a {
    color: rgb(116, 113, 113);
}

.courses:hover i{
    color: white;
}

.img-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.img-hero img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Esto asegura que la imagen cubra toda el área sin distorsionarse */
}


.img-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la transparencia cambiando el valor de 0.5 */
    z-index: 1;
}
.img-hero h1{
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 45px;
    font-weight: 200;
    text-align: center;
    padding: 0 20px;
    margin: 0;
}
.img-hero span{
    font-weight: bold;
}

main {
    position: relative;
    background-color: #f8f8f8; /* Color de fondo del contenedor */
    padding: 10px 0; /* Ajusta el relleno según sea necesario */
}
main h2, .text-p{
    margin: 30px 30px;
    text-align: left;
}

.circle-container {
    display: flex;
    justify-content: space-around; /* Alinea los círculos horizontalmente */
    margin-top: 20px; /* Espacio entre el título y los círculos */
}

.circle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 180px; /* Aumenta el ancho del círculo */
    height: 180px; /* Ajusta la altura para mantener la forma circular */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: #f44336; /* Color naranja */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.circle-text {
    text-align: center; /* Alinea el texto al centro */
    margin-top: 80px; /* Espacio entre los círculos y el texto */
    max-width: 380px; /* Asegura que el texto no exceda el ancho del círculo */
}

.circle p {
    margin-top: 20px; /* Espacio entre el círculo y el texto */
    font-size: 12px; /* Tamaño de fuente del texto */
    color: black; /* Color del texto */
    text-align: center;
}

.button-apply h3, p{
    text-align: center;
    margin: 30px;
}

.btn-secondary{
    background-color:#f44336 ;
    color: white;
    transition: 2s;
}

.btn-container {
    display: flex;
    justify-content: center; /* Alinea los elementos al centro horizontalmente */
    align-items: center; /* Alinea los elementos al centro verticalmente */
}


.btn-secondary:hover{
    margin: 0 auto; /* Esto centra el botón horizontalmente */
    display: block; /* Esto asegura que el botón se muestre como un bloque */
    background-color:rgb(202, 91, 0) ;
    color: black;
}
